a.line{
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	font-weight: bold;
	margin-right: 10px;
}
svg path.path{
stroke-width: 4;
fill: none;
}

svg circle.stop{
	stroke-width: 2;
	stroke: white;
	fill: black;
}

.axis {
	 shape-rendering: crispEdges;

	}
.axis text{
	fill: lightgrey;
}
.axis path {
			  fill: none;
			  stroke: lightgrey;
			}